<nav class="wrapped flex justify-between align-center ht-100">
    <a class="no-underline" href="/">
        <h1 id="site-title" class="mt-0 mb-0" sim-responsive-text data-rt-big="Gas Notes 😴" data-rt-small="😴"></h1>
    </a>
    <div class="flex align-center gap-1">
        <span><a href="{{ url_for('sim_connect') }}" class="no-underline"
                style="color: white;"><strong>Connect</strong></a></span>
        <span><a href="{{ url_for('sim_new') }}" class="button red small">Start a Sim</a></span>
    </div>
</nav>