{% extends "layouts/sim_layout.html" %}

{# only show the header if data.demo is falsy (so, false [used on the homepage] or undefined [used on the simulator
page]) #}

{% block sim_toolbar_top %}
    {% if data.demo != true %}
        <div class="wrapped flex justify-between align-center ht-100">
            <span
                class="simcode"
                aria-roledescription="button"
                title="Click to copy SimCode"
                >{{ data.sim_room_id }}</span
            >
            <input
                id="send"
                type="submit"
                value="Send"
                form="sim-input"
                class="button small dark red"
            />
        </div>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block sim_mainarea %}
    <style>
        /* CONTROLLER */
        #controller {
            margin: 0 auto;
            position: relative;
            flex-grow: 1;
            /* grow to full container height to prevent floating in the middle of the screen */
        }

        .sim-input-group,
        sim-mapgroup {
            display: grid;
            grid-template-rows: auto;
            row-gap: 1rem;
            margin: 2rem 0;
            transition: all 200ms ease;

            & header {
                margin: 0;
                padding: 0 0 0.5rem 0;
                border-bottom: 2px solid var(--color-light-three);
                display: flex;
                justify-content: space-between;
                position: unset;
                z-index: unset;

                & > p {
                    font-family: var(--sans-serif);
                    font-weight: bold;
                    margin: 0;
                }
            }

            & * {
                transition: filter 200ms ease;
            }

            & .sim-input-group-main {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
        }

        sim-mapgroup {
            margin: 0;
        }

        /* .sim-input-group:has(input.sim-input-group-switch:not(:checked))>*:not(header) {
        filter: saturate(0) opacity(0.7);
    } */

        .sim-input-group:has(input.sim-input-group-switch:not(:checked)) {
            grid-template-rows: 1fr 0 0 0 0 0 0 0;
            gap: 0;

            .sim-input-group-main {
                overflow: hidden;
            }
        }

        #arrest-controls {
            display: none;
            gap: 2rem;
        }

        body[sim-mode="arrested"] {
            .sim-input-group:not(#arrest-controls) {
                display: none;
            }

            #arrest-controls {
                display: grid;
            }

            #mode-picker {
                display: grid !important;
            }
        }

        #cpr-button {
            align-self: center;
            transform: scale(1.2);
            transform-origin: top center;

            &::before {
                content: "Stop CPR";
            }

            &.red::before {
                content: "Start CPR";
            }
        }

        dialog:has(.investigation-picker) {
            max-width: min(95vw, 500px);
        }

        .investigation-picker {
            height: min-content;
            max-height: 90vh;
            max-height: 90dvh;

            display: grid;
            grid-template-rows: auto 1fr auto;

            div.picker-scroll {
                overflow-y: scroll;
            }

            menu {
                display: grid;
                grid-template-columns: repeat(3, minmax(100px, 1fr));
                gap: 0.5rem;
                align-items: start;
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    border-color: #444;

                    img {
                        fit-content: cover;
                        aspect-ratio: 1;
                    }
                }
            }

            footer {
                display: flex;
                gap: 1rem;
                justify-content: center;
                padding-block: 1rem;
            }
        }

        #abg-picker {
            max-width: 500px;

            sim-abg {
                font-size: 75%;
            }
        }

        #tiles {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 1rem;
            align-items: start;
        }

        .tile {
            transition: all 100ms ease;
            border-radius: var(--border-radius);
            border: 2px solid #222;
            background-color: var(--dark-grey);
            color: white;
            font-weight: bold;
            min-height: 2rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 0.65rem;
            align-items: center;

            &:hover {
                background-color: #444;
            }

            .thumbnail {
                font-size: 2rem;
                margin: 0;
                padding: 0;
                width: 100%;
                border-radius: 0.35rem;
                display: inline-block;
                text-align: center;
            }

            img.thumbnail {
                aspect-ratio: 1/1;
            }

            .label {
                font-size: 1rem;
                line-height: 1;
                text-align: center;
            }

            &:has(input:checked) {
                background-color: #444;
            }
        }
        @font-face {
            font-family: "7seg";
            src: url('{{ url_for("static", filename="fonts/7seg.woff2") }}');
        }
        dialog:has(#bsl-machine) {
            width: calc(min(400px, 95vw));
        }
        #bsl-machine {
            background-image: url('{{ url_for("static", filename="img/bsl.svg") }}');
            background-size: 100%;
            background-repeat: no-repeat;

            width: 80%;
            aspect-ratio: 3/4;
            padding: 12.5%;
            margin-inline: 2rem;

            #bsl-machine__screen {
                container-name: bslscreen;
                container-type: size;

                width: 100%;
                aspect-ratio: 1;

                display: grid;
                grid-template-columns: 35% 65%;
                grid-template-rows: 50% 50%;

                align-items: start;

                input {
                    font-size: 25cqh;
                    text-align: right;
                    background: none;
                    border: none;
                    font-family: "7seg", monospace;
                    color: black;
                    margin: 0;
                    padding: 0;
                }

                input::placeholder {
                    color: black;
                    opacity: 0.2;
                }

                label {
                    font-size: 1rem;
                    font-family: monospace;
                    color: black;
                    font-weight: bold;
                }
            }
        }
    </style>

    {% with enablers = data.last_known_state.enablers or {}, updates = data.last_known_state.updates or {} %}
        <div id="controller" class="wrapped">
            <form action="#" id="sim-input">
                <div
                    class="sim-input-group"
                    id="mode-picker"
                    {% if data.demo==true %}style="display: none;"{% endif %}
                >
                    <header>
                        <p>Mode 🎮</p>
                    </header>
                    <sim-radiogroup
                        data-sim-parameter="sim-mode"
                        sim-value="{{ updates['sim-mode'] }}"
                    >
                        <div class="sim-button-group">
                            <label>
                                Alive
                                <input
                                    type="radio"
                                    name="sim-mode"
                                    value="alive"
                                    checked
                                />
                            </label>
                            <label>
                                Arrested
                                <input
                                    type="radio"
                                    name="sim-mode"
                                    value="arrested"
                                    id="arrest-button"
                                />
                            </label>
                        </div>
                    </sim-radiogroup>
                </div>

                <section class="sim-input-group" id="cardiac">
                    <header>
                        <p>ECG 💛</p>
                        <input
                            type="checkbox"
                            {{ checked(enablers['ecg']) }}
                            role="switch"
                            data-sim-enabler-for="ecg"
                            class="sim-input-group-switch green"
                        />
                    </header>
                    <div class="sim-input-group-main">
                        <sim-slider data-display-name="HR" class="green">
                            <input
                                type="range"
                                data-sim-parameter="heart-rate"
                                sim-sync
                                min="30"
                                max="220"
                                value="{{ updates['heart-rate'] | default('67') }}"
                            />
                        </sim-slider>
                        <div class="sim-select green">
                            <div class="input-label">ECG</div>
                            {% with rhythm = updates['ecg-rhythm'] %}
                                <select data-sim-parameter="ecg-rhythm">
                                    <option
                                        {{ value_autoselect(rhythm, "sinus" ) }}
                                    >
                                        Normal Sinus Rhythm
                                    </option>
                                    <option
                                        {{ value_autoselect(rhythm, "afib" ) }}
                                    >
                                        Atrial Fibrillation
                                    </option>
                                    <option
                                        {{ value_autoselect(rhythm, "avnrt" ) }}
                                    >
                                        AVNRT
                                    </option>
                                    <option
                                        {{ value_autoselect(rhythm, "hb2m1" ) }}
                                    >
                                        2° Heart Block (Mobitz I)
                                    </option>
                                    <option
                                        {{ value_autoselect(rhythm, "hb2m2" ) }}
                                    >
                                        2° Heart Block (Mobitz II)
                                    </option>
                                    <option
                                        {{ value_autoselect(rhythm, "stemi" ) }}
                                    >
                                        STEMI
                                    </option>
                                    <hr />
                                    <option
                                        {{ value_autoselect(rhythm, "vfib" ) }}
                                        sim-arrest
                                    >
                                        Ventricular Fibrillation
                                    </option>
                                    <option
                                        {{ value_autoselect(rhythm, "vtach-monomorphic" ) }}
                                        sim-arrest
                                    >
                                        Ventricular Tachycardia
                                    </option>
                                    <option
                                        {{ value_autoselect(rhythm, "vtach-torsades" ) }}
                                        sim-arrest
                                    >
                                        Torsades de Pointes
                                    </option>
                                    <option
                                        {{ value_autoselect(rhythm, "flatline" ) }}
                                        sim-arrest
                                    >
                                        Asystole
                                    </option>
                                </select>
                            {% endwith %}
                        </div>
                    </div>
                </section>
                <div class="sim-input-group" id="respiration">
                    <header>
                        <p>Pulse Oximeter 😮‍💨</p>
                        <input
                            type="checkbox"
                            {{ checked(enablers['spo2']) }}
                            role="switch"
                            data-sim-enabler-for="spo2"
                            class="sim-input-group-switch blue"
                        />
                    </header>
                    <div class="sim-input-group-main">
                        <sim-slider
                            data-display-name="SpO<sub>2</sub>"
                            class="blue"
                        >
                            <input
                                type="range"
                                data-sim-parameter="spo2"
                                type="range"
                                min="35"
                                max="100"
                                value="{{ updates['spo2'] | default('99') }}"
                            />
                        </sim-slider>
                        <sim-slider data-display-name=" HR" class="blue">
                            <input
                                type="range"
                                data-sim-parameter="heart-rate"
                                sim-sync
                                min="30"
                                max="220"
                                value="{{ updates['heart-rate'] | default('67') }}"
                            />
                        </sim-slider>
                        <div class="sim-select blue" id="spo2-picker">
                            <div class="input-label">PLETH</div>
                            {% with trace = updates['spo2-trace'] %}
                                <select
                                    name=""
                                    id=""
                                    data-sim-parameter="spo2-trace"
                                >
                                    <option
                                        {{ value_autoselect(trace, "spo2" ) }}
                                    >
                                        Well Perfused
                                    </option>
                                    <option
                                        {{ value_autoselect(trace, "spo2-badtrace" ) }}
                                    >
                                        Poorly Perfused
                                    </option>
                                    <!-- <hr> -->
                                    <!-- <option value="flatline">Asystole</option> -->
                                </select>
                            {% endwith %}
                        </div>
                    </div>
                </div>
                <div class="sim-input-group" id="">
                    <header>
                        <p>Non-Invasive BP 💨</p>
                        <input
                            type="checkbox"
                            {{ checked(enablers['nibp']) }}
                            role="switch"
                            data-sim-enabler-for="nibp"
                            class="sim-input-group-switch purple"
                        />
                    </header>

                    <div class="sim-input-group-main">
                        <sim-mapgroup>
                            <sim-slider data-display-name="SBP" class="purple">
                                <input
                                    type="range"
                                    data-sim-sbp
                                    data-sim-parameter="systolic-blood-pressure-noninvasive"
                                    sim-sync
                                    min="20"
                                    max="200"
                                    value="{{ updates['systolic-blood-pressure-noninvasive'] | default('104') }}"
                                />
                            </sim-slider>
                            <sim-slider data-display-name="DBP" class="purple">
                                <input
                                    type="range"
                                    data-sim-dbp
                                    data-sim-parameter="diastolic-blood-pressure-noninvasive"
                                    sim-sync
                                    min="20"
                                    max="200"
                                    value="{{ updates['diastolic-blood-pressure-noninvasive'] | default('66') }}"
                                />
                            </sim-slider>
                            <sim-slider data-display-name="MAP" class="purple">
                                <input
                                    type="range"
                                    data-sim-map
                                    data-sim-parameter="mean-arterial-pressure-noninvasive"
                                    sim-sync
                                    min="20"
                                    max="200"
                                    value="{{ updates['mean-arterial-pressure-noninvasive'] | default('78') }}"
                                />
                            </sim-slider>
                        </sim-mapgroup>

                        <div class="flex gap-1 wt-100">
                            <sim-radiogroup
                                class="grow-1"
                                sim-nibp-cycle-switch
                            >
                                <div class="sim-button-group">
                                    <label>
                                        Manual
                                        <input
                                            type="radio"
                                            name="nibp-cycle-time"
                                            value="false"
                                            checked
                                        />
                                    </label>
                                    <label>
                                        Auto
                                        <input
                                            type="radio"
                                            name="nibp-cycle-time"
                                            value="true"
                                        />
                                    </label>
                                </div>
                            </sim-radiogroup>
                            <button class="button purple" sim-nibp-cycle-button>
                                Run Now
                            </button>
                        </div>
                    </div>
                </div>
                <div class="sim-input-group" id="haemodynamics">
                    <header>
                        <p>Arterial Line 🩸</p>
                        <input
                            type="checkbox"
                            {{ checked(enablers['art'], False) }}
                            role="switch"
                            data-sim-enabler-for="art"
                            class="sim-input-group-switch red"
                        />
                    </header>
                    <div class="sim-input-group-main">
                        <sim-mapgroup>
                            <sim-slider data-display-name="SBP" class="red">
                                <input
                                    type="range"
                                    data-sim-sbp
                                    data-sim-parameter="systolic-blood-pressure"
                                    sim-sync
                                    min="20"
                                    max="200"
                                    value="{{ updates['systolic-blood-pressure'] | default('119') }}"
                                />
                            </sim-slider>
                            <sim-slider data-display-name="DBP" class="red">
                                <input
                                    type="range"
                                    data-sim-dbp
                                    data-sim-parameter="diastolic-blood-pressure"
                                    sim-sync
                                    min="20"
                                    max="200"
                                    value="{{ updates['diastolic-blood-pressure'] | default('57') }}"
                                />
                            </sim-slider>
                            <sim-slider data-display-name="MAP" class="red">
                                <input
                                    type="range"
                                    data-sim-map
                                    data-sim-parameter="mean-arterial-pressure"
                                    sim-sync
                                    min="20"
                                    max="200"
                                    value="{{ updates['mean-arterial-pressure'] | default('78') }}"
                                />
                            </sim-slider>
                        </sim-mapgroup>
                        <div class="sim-select red">
                            <div class="input-label">ART</div>
                            {% with trace = updates['artline-trace'] %}
                                <select
                                    name=""
                                    id=""
                                    data-sim-parameter="artline-trace"
                                >
                                    <option
                                        {{ value_autoselect(trace, "artline" ) }}
                                    >
                                        Normal Trace
                                    </option>
                                    <option
                                        {{ value_autoselect(trace, "artline-overdamped" ) }}
                                    >
                                        Over-Damped
                                    </option>
                                    <option
                                        {{ value_autoselect(trace, "artline-underdamped" ) }}
                                    >
                                        Under-Damped
                                    </option>
                                    <option
                                        {{ value_autoselect(trace, "spo2-badtrace" ) }}
                                    >
                                        Poorly Perfused
                                    </option>
                                </select>
                            {% endwith %}
                        </div>
                        <sim-slider data-display-name="HR" class="red">
                            <input
                                type="range"
                                data-sim-parameter="heart-rate"
                                sim-sync
                                min="30"
                                max="220"
                                value="{{ updates['heart-rate'] | default('67') }}"
                            />
                        </sim-slider>
                    </div>
                </div>
                <div class="sim-input-group">
                    <header>
                        <p>Capnography 🫁</p>
                        <input
                            type="checkbox"
                            {{ checked(enablers['capno'], False) }}
                            role="switch"
                            data-sim-enabler-for="capno"
                            class="sim-input-group-switch yellow"
                        />
                    </header>
                    <div class="sim-input-group-main">
                        <sim-slider data-display-name="RR" class="yellow">
                            <input
                                type="range"
                                data-sim-parameter="respiratory-rate"
                                type="range"
                                min="0"
                                max="60"
                                value="{{ updates['respiratory-rate'] | default('18') }}"
                            />
                        </sim-slider>
                        <sim-slider
                            data-display-name="etCO<sub>2</sub>"
                            class="yellow"
                        >
                            <input
                                type="range"
                                data-sim-parameter="etco2"
                                type="range"
                                min="0"
                                max="90"
                                value="{{ updates['etco2'] | default('36') }}"
                            />
                        </sim-slider>
                        <div class="sim-select yellow" id="capno-picker">
                            <div class="input-label">CAP</div>

                            {% with trace = updates['capno-trace'] %}
                                <select
                                    name=""
                                    id=""
                                    data-sim-parameter="capno-trace"
                                >
                                    <option
                                        {{ value_autoselect(trace, "capno-normal" ) }}
                                    >
                                        Normal
                                    </option>
                                    <option
                                        {{ value_autoselect(trace, "capno-obstructed-moderate" ) }}
                                    >
                                        Moderate Obstruction
                                    </option>
                                    <option
                                        {{ value_autoselect(trace, "capno-obstructed-severe" ) }}
                                    >
                                        Severe Obstruction
                                    </option>
                                    <option
                                        {{ value_autoselect(trace, "flatline" ) }}
                                    >
                                        Apnoea
                                    </option>
                                </select>
                            {% endwith %}
                        </div>
                    </div>
                </div>

                <div
                    class="sim-input-group"
                    id="mode-picker"
                    {% if data.demo==true %}style="display: none;"{% endif %}
                >
                    <header>
                        <p>Transition Time ⏳</p>
                    </header>

                    <sim-radiogroup
                        data-sim-parameter="transition-time"
                        sim-value="{{ updates['transition-time'] }}"
                    >
                        <div class="sim-button-group">
                            <label>
                                Instant
                                <input
                                    type="radio"
                                    name="sim-transition-time"
                                    value="0"
                                    checked
                                />
                            </label>
                            <label>
                                30s
                                <input
                                    type="radio"
                                    name="sim-transition-time"
                                    value="30"
                                />
                            </label>
                            <label>
                                1m
                                <input
                                    type="radio"
                                    name="sim-transition-time"
                                    value="60"
                                />
                            </label>
                            <label>
                                3m
                                <input
                                    type="radio"
                                    name="sim-transition-time"
                                    value="180"
                                />
                            </label>
                        </div>
                    </sim-radiogroup>
                </div>

                <div
                    class="sim-input-group"
                    {% if data.demo==true %}style="display: none;"{% endif %}
                >
                    <header>
                        <p>Investigations 🔍</p>
                    </header>
                    <div id="tiles">
                        <button
                            onclick="document.querySelector('#radiology-cxr').showModal()"
                            class="tile"
                        >
                            <span class="thumbnail">🩻</span>
                            <span class="label">CXR</span>
                        </button>
                        <button
                            onclick="document.querySelector('#radiology-echo').showModal()"
                            class="tile"
                        >
                            <span class="thumbnail">📺</span>
                            <span class="label">Echo</span>
                        </button>
                        <button
                            onclick="document.querySelector('#abg-picker').showModal()"
                            class="tile"
                        >
                            <span class="thumbnail">🩸</span>
                            <span class="label">ABG</span>
                        </button>
                        <button
                            onclick="document.querySelector('#bsl-picker').showModal()"
                            class="tile"
                        >
                            <span class="thumbnail">🍭</span>
                            <span class="label">BSL</span>
                        </button>
                    </div>
                </div>

                <div class="sim-input-group" id="arrest-controls">
                    <header>
                        <p>Arrest Controls 🚨</p>
                        <input
                            type="checkbox"
                            checked
                            role="switch"
                            data-sim-enabler-for="ecg-arrest"
                            class="sim-input-group-switch green"
                        />
                    </header>
                    <div class="sim-input-group-main">
                        <div class="sim-select green">
                            <div class="input-label">ECG</div>
                            {% with trace = updates['arrest-rhythm'] %}
                                <select data-sim-parameter="arrest-rhythm">
                                    <option
                                        {{ value_autoselect(trace, "sinus" ) }}
                                    >
                                        PEA
                                    </option>
                                    <option
                                        {{ value_autoselect(trace, "flatline" ) }}
                                    >
                                        Asystole
                                    </option>
                                    <hr />
                                    <option
                                        {{ value_autoselect(trace, "vfib" ) }}
                                        selected
                                    >
                                        Ventricular Fibrillation
                                    </option>
                                    <option
                                        {{ value_autoselect(trace, "vtach-monomorphic" ) }}
                                    >
                                        Ventricular Tachycardia
                                    </option>
                                    <option
                                        {{ value_autoselect(trace, "vtach-torsades" ) }}
                                    >
                                        Torsades de Pointes
                                    </option>
                                </select>
                            {% endwith %}
                        </div>

                        <div class="sim-select yellow">
                            <div class="input-label">CAP</div>
                            {% with trace = updates['arrest-capno'] %}
                                <select data-sim-parameter="arrest-capno">
                                    <option
                                        {{ value_autoselect(trace, "flatline" ) }}
                                    >
                                        Flatline
                                    </option>
                                    <hr />
                                    <option
                                        {{ value_autoselect(trace, "capno-normal" ) }}
                                    >
                                        Normal
                                    </option>
                                    <option
                                        {{ value_autoselect(trace, "capno-obstructed-moderate" ) }}
                                    >
                                        Moderate Obstruction
                                    </option>
                                    <option
                                        {{ value_autoselect(trace, "capno-obstructed-severe" ) }}
                                    >
                                        Severe Obstruction
                                    </option>
                                </select>
                            {% endwith %}
                        </div>
                        <sim-slider
                            data-display-name="etCO<sub>2</sub>"
                            class="yellow"
                        >
                            <input
                                type="range"
                                data-sim-parameter="arrest-etco2"
                                type="range"
                                min="0"
                                max="60"
                                value="9"
                            />
                        </sim-slider>
                        <input
                            type="text"
                            style="display: none;"
                            data-sim-parameter="sim-cpr"
                            value="off"
                        />
                        <button
                            id="cpr-button"
                            class="button dark red"
                        ></button>
                    </div>
                </div>
            </form>
        </div>

        {# INVESTIGATIONS #}
        {% macro rad(name, r) -%}
            <li>
                <label class="tile">
                    <img
                        src="{{ r.url }}"
                        alt="{{ r.name_pretty }}"
                        title="{{ r.credit }}"
                        loading="eager"
                    />
                    <span class="label">{{ r.name_pretty }}</span>
                    <input
                        type="radio"
                        name="{{ name }}"
                        value="{{ r.name_ugly }}"
                        style="display: none;"
                        data-name-pretty="{{ r.name_pretty }}"
                        data-name-ugly="{{ r.name_ugly }}"
                        data-url="{{ r.url }}"
                        data-credit="{{ r.credit }}"
                    />
                </label>
            </li>
        {%- endmacro %}

        {# CXR #}
        <dialog class="tray" id="radiology-cxr" closedby="any">
            <sim-picker-radiology class="investigation-picker">
                <header>
                    <h2 class="mt-0">CXR Picker 🩻</h2>
                </header>
                <div class="picker-scroll">
                    <menu>
                        {% for r in radiology("cxr") %}
                            {{ rad("cxr", r) }}
                        {% endfor %}
                    </menu>
                </div>
                <footer>
                    <form method="dialog">
                        <button type="submit" class="button dark small">
                            Cancel
                        </button>
                    </form>
                    <button class="button red small" sim-send>
                        Send to Sim
                    </button>
                </footer>
            </sim-picker-radiology>
        </dialog>

        {# ECHO #}
        <dialog class="tray" id="radiology-echo" closedby="any">
            <sim-picker-radiology class="investigation-picker">
                <header>
                    <h2 class="mt-0">Echo Picker 📺</h2>
                </header>
                <div class="picker-scroll">
                    <h3 class="mt-0">Normal</h3>
                    <menu>
                        {% for r in radiology("echo/normal") %}
                            {{ rad("echo", r) }}
                        {% endfor %}
                    </menu>
                    <h3 class="">LV Failure</h3>
                    <menu>
                        {% for r in radiology("echo/lv-failure") %}
                            {{ rad("echo", r) }}
                        {% endfor %}
                    </menu>
                    <h3 class="">RV Failure</h3>
                    <menu>
                        {% for r in radiology("echo/rv-failure") %}
                            {{ rad("echo", r) }}
                        {% endfor %}
                    </menu>
                    <h3 class="">Tamponade</h3>
                    <menu>
                        {% for r in radiology("echo/tamponade") %}
                            {{ rad("echo", r) }}
                        {% endfor %}
                    </menu>
                    <h3 class="">IVC</h3>
                    <menu>
                        {% for r in radiology("echo/ivc") %}
                            {{ rad("echo", r) }}
                        {% endfor %}
                    </menu>
                </div>
                <footer>
                    <form method="dialog">
                        <button type="submit" class="button dark small">
                            Cancel
                        </button>
                    </form>
                    <button class="button red small" sim-send>
                        Send to Sim
                    </button>
                </footer>
            </sim-picker-radiology>
        </dialog>

        {# ABG #}
        <dialog id="abg-picker" class="tray" closedby="any">
            <sim-picker-abg class="investigation-picker">
                <header>
                    <h2 class="mt-0">ABG Picker 🩸</h2>
                </header>
                <div class="picker-scroll">
                    <div class="sim-select light" style="z-index: 999;">
                        <!-- this is needed to get rid of a putrid mobileSafari bug where a <select> element in a <dialog> doesn't work unless there's another <select> element around -->
                        <div
                            style="opacity: 0; height: 0px; width: 0; position: absolute; pointer-events: none; margin: 0; padding: 0;"
                        >
                            <select></select>
                        </div>
                        <!-- would love to see it gone someday -->
                        <select id="abg-presets" class="mb-1">
                            <option selected disabled value="default">
                                Presets…
                            </option>
                            <hr />
                        </select>
                    </div>
                    <sim-abg id="sendable-abg"></sim-abg>
                </div>
                <footer>
                    <form method="dialog">
                        <button type="submit" class="button dark small">
                            Cancel
                        </button>
                    </form>
                    <button class="button red small" sim-send>
                        Send to Sim
                    </button>
                </footer>
            </sim-picker-abg>
        </dialog>

        {# BSL/ketones #}
        <dialog id="bsl-picker" class="tray" closedby="any">
            <sim-picker-bsl class="investigation-picker">
                <header>
                    <h2 class="mt-0">BSL Machine 🍭</h2>
                </header>
                <div class="picker-scroll">
                    <div id="bsl-machine">
                        <div id="bsl-machine__screen">
                            <label for="input-bsl">BSL</label>
                            <input
                                autofocus
                                inputmode="decimal"
                                type="number"
                                id="input-bsl"
                                step="0.1"
                                min="0.0"
                                max="40.0"
                                placeholder="9.0"
                            />
                            <label for="input-ket">KET</label>
                            <input
                                inputmode="decimal"
                                type="number"
                                id="input-ket"
                                step="0.1"
                                min="0.0"
                                max="10.0"
                                placeholder="0.1"
                            />
                        </div>
                    </div>
                </div>
                <footer>
                    <form method="dialog">
                        <button type="submit" class="button dark small">
                            Cancel
                        </button>
                    </form>
                    <button class="button red small" sim-send>
                        Send to Sim
                    </button>
                </footer>
            </sim-picker-bsl>
        </dialog>
    {% endwith %}
    {% include 'components/abg_machine.html' %}

    {% assets filters="esbuild", output="gen/controller.js", depends="**/**/*.js", "js/controller.js" %}
        <script type="module" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
