{% extends "layouts/sim_layout.html" %}

{# only show the toolbars if data.demo is falsy (false [used on the homepage] or undefined [used on the simulator page]) #}
{% block sim_toolbar_top %}
    {% if data.demo != true %}
        <style>
            :root {
                --sim-toolbar-top-height: 4rem;
            }
        </style>
        <div class="flex justify-between align-center ht-100 pl-1 pr-1">
            <span
                class="simcode"
                aria-roledescription="button"
                title="Click to copy SimCode"
                >{{ data.sim_room_id }}</span
            >
            <label class="flex align-center gap-1 yellow">
                <h3 class="mt-0 mb-0">Sound</h3>
                <input type="checkbox" role="switch" id="sound-switch" />
            </label>
        </div>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block sim_toolbar_buttom %}
    {% if data.demo != true %}
        <div id="control-buttons">
            <div
                class="cell"
                onclick="document.querySelector('#connect-modal').showModal()"
            >
                <div class="cell-icon">
                    <span class="icon">🔗</span>
                    <span class="label">Connect</span>
                </div>
            </div>
            <div
                class="cell"
                onclick="document.querySelector('#resources').showModal()"
            >
                <div class="cell-icon">
                    <span class="icon">🩻</span>
                    <span class="label">Resources</span>
                </div>
                <!-- <div id="resources-badge">1</div> -->
            </div>
            <label class="cell">
                <div class="cell-icon">
                    <span class="icon"
                        ><input
                            type="checkbox"
                            class="purple"
                            role="switch"
                            style="display: block"
                            sim-nibp-cycle-switch
                    /></span>
                    <span class="label">Auto NIBP</span>
                </div>
            </label>
            <div class="cell" sim-nibp-trigger-manual>
                <div class="cell-icon">
                    <span class="icon">💨</span>
                    <span class="label">Cycle BP</span>
                </div>
            </div>
            <div class="spacer"></div>
            {# <div class="cell" id="silence-button">
                <span class="cell-icon">
                    <span class="icon">🚨</span>
                    <span class="label">Silence</span>
                </span>
            </div> #}
            <label class="cell">
                <div class="cell-icon">
                    <span class="icon"
                        ><input
                            type="checkbox"
                            class="yellow"
                            role="switch"
                            style="display: block"
                            sim-alarm-acknowledge-switch
                            checked
                    /></span>
                    <span sim-alarm-acknowledge-text class="label">Alarms</span>
                </div>
            </label>
        </div>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}
{% block sim_mainarea %}
    <style>
        #control-buttons {
            --cell-colour: var(--dark-grey);
            display: flex;
            flex-direction: row;
            gap: 2px;
            flex-wrap: nowrap;
            overflow-x: scroll;

            .cell,
            .spacer {
                background-color: var(--cell-colour);
            }

            .cell {
                height: 5rem;
                width: min-content;
                min-width: 5rem;
                display: flex;
                gap: 0.2rem;
                flex-shrink: 0;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                transition: all 100ms ease;

                &:hover {
                    background-color: oklch(from var(--cell-colour) 0.3 c h);
                }

                &:active {
                    background-color: oklch(from var(--cell-colour) 0.2 c h);
                }
            }

            .cell-icon {
                aspect-ratio: 1.25;
                height: 100%;
                display: flex;
                gap: 0.3rem;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .icon {
                    font-size: 1.5rem;
                    height: min-content;
                }

                .label {
                    font-size: 1rem;
                    text-align: center;
                }
            }

            .spacer {
                flex-grow: 10;
            }
        }

        /* MONITOR */

    #sim-monitor {
        flex-grow: 1;
        /* takes up full height, since its container is a flex column with only one member */
        display: grid;
        grid-template-columns: 1fr clamp(15rem, 25vh, 18rem);
        grid-template-rows: repeat(auto-fill, 1fr);
        gap: 1rem;
        padding: 1rem;
        font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;

        &>* {
            position: relative;
            /* needed to position the sim-trace elements absolutely */
        }

        & div:has(>sim-trace) {
            max-width: 100%;
        }

        & sim-trace {
            width: 100%;

            /* left: ??px is set dynamically in wavemaker2.js */
            position: absolute;

            /* transform: scaleY varies according to height (see below media queries) */
            transform-origin: top;
            transform: scaleY(0.75);
        }

        @media only screen and (min-height: 800px) {
            sim-trace {
                transform: scaleY(1) !important;
            }
        }

        @media only screen and (min-height: 1000px) {
            sim-trace {
                transform: scaleY(1.25) !important;
            }
        }

        @media only screen and (min-height: 1200px) {
            sim-trace {
                transform: scaleY(1.5) !important;
            }
        }
    }

        sim-readout {
            &:not([hidden]) {
                /* get rid of excessive padding seen on inline elements, makes the alarm background look neat */
                display: inline-block;
                padding: 0.1em;
            }

            font-size: clamp(3rem, calc(18vh - 5rem), 10rem);
            line-height: 0.9;
        }

        /* alarm styling */
        /* sim-readout[sim-alarm] is toggled true and false in JS */
        /* body[sim-alarm-bright] is toggled on and off in JS */
        /* not using a CSS animation because the flashes should be synchronous between readouts */
        body[sim-alarm-bright="true"] sim-readout[sim-alarm="on"] {
            background-color: currentColor;

            span {
                color: white;
            }

            &.white {
                span {
                    color: black;
                }
            }
        }

        .readout-label {
            font-size: 1rem;
            margin: 0;
        }

        #bp-readout sim-readout {
            font-size: clamp(3rem, calc(10vh - 2.5rem), 5rem) !important;
        }
        #nibp sim-readout {
            font-size: clamp(3rem, calc(18vh - 5rem), min(10rem, 12vw));
        }

        #nibp-timer-widget {
            background-color: var(--color-purple);
            height: 1rem;
            width: 50px;
            padding: 0 0.5ch;
        }
        #nibp-timer-widget[sim-disabled="true"] {
            visibility: hidden;
        }

        sim-post {
            figure {
                margin: 0;
                padding: 0;
            }

            figcaption {
                display: none;
            }

            sim-abg {
                display: none;
            }
        }

        #resources {
            view-transition-name: sim-resources-tray;
            --dotted-border: 1px dashed #444;

            display: grid;
            grid-template-rows: auto 1fr;
            grid-template-columns: 14rem 1fr;
            grid-template-areas:
                "head head"
                "scroll marquee";
            row-gap: 1rem;

            #resource-header {
                font-size: 2rem;
                font-weight: bold;
                grid-area: head;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: 0.25rem;
            }

            #resource-list {
                grid-area: scroll;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                padding-right: 0.75rem;
                margin-right: 0.25rem;

                overflow: scroll;
                max-height: 100%;

                container-name: resource-list;
                container-type: size;
            }

            #resource-marquee {
                grid-area: marquee;
                display: flex;
                align-items: center;
                justify-content: center;
                border-left: var(--dotted-border);
                margin-bottom: 1rem;
                padding-left: 1rem;
                position: relative;

                container-name: resource-container;
                container-type: size;

                overflow: hidden;
                max-height: 100%;

                p {
                    text-align: center;
                }

                &:has(img) {
                    p {
                        display: none;
                    }
                }

                figure {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr auto;

                    height: 100%;
                    width: 80%;

                    margin: 0;
                    padding: 0;

                    text-align: center;
                }

                img {
                    margin: 0;
                    object-fit: cover;

                    align-self: center;

                    width: 100%;
                    height: auto;
                    aspect-ratio: 1/1;
                }

                img,
                sim-abg {
                    border-radius: 1rem;
                    box-shadow: 0px 10px 30px black;
                    border: 0.5rem solid white;
                    overflow: hidden;
                }

                sim-abg {
                    width: 600px;
                    min-width: 600px;
                    height: auto;
                    font-size: 100%;
                    scale: 20vw;
                }

                /* scale to avoid hitting edges */
                --width-scaler: 1;
                --height-scaler: 1;

                @container resource-container (width < 600px) {
                    sim-abg {
                        --width-scaler: 0.8;
                    }
                }

                @container resource-container (width < 480px) {
                    sim-abg {
                        --width-scaler: 0.6;
                    }
                }

                @container resource-container (width < 360px) {
                    sim-abg {
                        --width-scaler: 0.5;
                    }
                }

                @container resource-container (width < 240px) {
                    sim-abg {
                        --width-scaler: 0.4;
                    }
                }

                @container resource-container (width < 180px) {
                    sim-abg {
                        --width-scaler: 0.3;
                    }
                }

                @container resource-container (height < 850px) {
                    sim-abg {
                        --height-scaler: 0.8;
                    }
                }

                @container resource-container (height < 680px) {
                    sim-abg {
                        --height-scaler: 0.6;
                    }
                }

                @container resource-container (height < 510px) {
                    sim-abg {
                        --height-scaler: 0.5;
                    }
                }

                @container resource-container (height < 340px) {
                    sim-abg {
                        --height-scaler: 0.4;
                    }
                }

                @container resource-container (height < 249px) {
                    sim-abg {
                        --height-scaler: 0.3;
                    }
                }

                sim-abg {
                    scale: calc(min(var(--height-scaler), var(--width-scaler)));
                }
            }
        }

        /* phone screens */
        @media (max-height: 700px), (max-width: 600px) {
            #sim-monitor {
                grid-template-columns: repeat(2, 1fr) !important;
                grid-template-rows: repeat(auto-fill, 1fr) !important;

                & div:has(> sim-trace) {
                    display: none;
                }
            }

            sim-readout {
                font-size: clamp(1rem, 10vh, 4rem) !important;
            }

            #bp-readout sim-readout,
            #nibp sim-readout {
                font-size: clamp(1rem, 5vh, 4rem) !important;
            }
        }

        @media only screen and (max-width: 850px) {
            #resources {
                --tray-height: 90vh;
                --tray-height: 98dvh;

                grid-template-rows: auto 1fr calc(min(20cqh, 10rem));
                grid-template-columns: 1fr;
                grid-template-areas:
                    "head"
                    "marquee"
                    "scroll";

                #resource-list {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    overflow: scroll;
                    max-width: 100%;
                    height: 100%;
                    max-height: 100%;
                    padding: 0 0 1rem 0;
                    margin: 0;
                }

                #resource-marquee {
                    padding: 0 0 1rem 0;
                    margin: 0;

                    border-left: none;
                    border-bottom: var(--dotted-border);
                }

                .tile {
                    width: auto;
                    height: 100%;
                    aspect-ratio: 1/1;

                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr auto;

                    figure {
                        display: block;
                        width: auto;
                        height: 100%;
                        min-height: 0;
                        /* this stops the images from getting huge */
                        min-width: 0;
                        /* this stops the images from getting huge */
                        aspect-ratio: 1/1;
                        margin: 0 auto;
                    }
                }
            }
        }
    </style>

    {% with enablers = data.last_known_state.enablers or {}, updates = data.last_known_state.updates or {} %}
        <div id="sim-monitor">
            <div>
                <sim-trace
                    height="200"
                    id="ecg"
                    sim-parameter="ecg-rhythm"
                    sim-value="{{ updates['ecg-rhythm'] | default('sinus') }}"
                    rate="{{ updates['heart-rate'] | default('67') }}"
                    stroke-colour="rgb(76, 209, 55)"
                    {{ enabled(enablers, "ecg", True) }}
                ></sim-trace>
            </div>
            <div>
                <p class="readout-label">HR (/min)</p>
                <sim-readout
                    prefix=""
                    suffix=""
                    sim-parameter="heart-rate"
                    class="green"
                    sim-value="{{ updates['heart-rate'] | default('67') }}"
                    sim-transitionable="true"
                    wobble-min="0"
                    wobble="3"
                    sim-limit-low="50"
                    sim-limit-high="100"
                    {{ enabled(enablers, "ecg", True) }}
                ></sim-readout>
            </div>
            <div>
                <sim-trace
                    height="200"
                    id="spo2"
                    sim-parameter="spo2-trace"
                    mode="copycat"
                    pacemaker="ecg"
                    sim-value="{{ updates['spo2-trace'] | default('spo2') }}"
                    stroke-colour="rgb(0, 168, 255)"
                    {{ enabled(enablers, "spo2", True) }}
                ></sim-trace>
            </div>
            <div>
                <p class="readout-label">SpO<sub>2</sub> (%)</p>
                <sim-readout
                    prefix=""
                    suffix=""
                    sim-parameter="spo2"
                    class="blue"
                    sim-value="{{ updates['spo2'] | default('99') }}"
                    sim-transitionable="true"
                    wobble="2"
                    wobble-max="100"
                    wobble-min="0"
                    sim-limit-low="94"
                    sim-limit-high="200"
                    {{ enabled(enablers, "spo2", True) }}
                ></sim-readout>
            </div>
            <div>
                <sim-trace
                    height="200"
                    mode="copycat"
                    pacemaker="ecg"
                    sim-parameter="artline-trace"
                    sim-value="{{ updates['artline-trace'] | default('artline') }}"
                    stroke-colour="rgb(232, 65, 24)"
                    {{ enabled(enablers, "art", False) }}
                ></sim-trace>
            </div>
            <div id="bp-readout">
                <p class="readout-label">ART (mmHg)</p>
                <div class="flex wrap">
                    <sim-readout
                        prefix=""
                        suffix=" / "
                        class="red"
                        sim-parameter="systolic-blood-pressure"
                        sim-value="{{ updates['systolic-blood-pressure'] | default('119') }}"
                        sim-transitionable="true"
                        {{ enabled(enablers, "art", False) }}
                    ></sim-readout>
                    <sim-readout
                        prefix=""
                        suffix=""
                        class="red"
                        sim-parameter="diastolic-blood-pressure"
                        sim-value="{{ updates['diastolic-blood-pressure'] | default('57') }}"
                        sim-transitionable="true"
                        {{ enabled(enablers, "art", False) }}
                    ></sim-readout>
                </div>
                <sim-readout
                    prefix="("
                    suffix=")"
                    sim-parameter="mean-arterial-pressure"
                    class="red"
                    sim-value="{{ updates['mean-arterial-pressure'] | default('78') }}"
                    sim-transitionable="true"
                    sim-limit-low="60"
                    sim-limit-high="120"
                    {{ enabled(enablers, "art", False) }}
                ></sim-readout>
            </div>
            <div>
                <sim-trace
                    height="200"
                    id="capno"
                    sim-parameter="capno-trace"
                    sim-value="{{ updates['capno-trace'] | default('capno-normal') }}"
                    rate="{{ updates['respiratory-rate'] | default('18') }}"
                    stroke-colour="rgb(251, 197, 49)"
                    fill-colour="rgb(251, 197, 49)"
                    fill-opacity="0.15"
                    x-rate="60"
                    y-scale="1"
                    {{ enabled(enablers, "capno", False) }}
                ></sim-trace>
            </div>
            <div id="etco2">
                <p class="readout-label">etCO<sub>2</sub> (mmHg)</p>
                <sim-readout
                    prefix=""
                    suffix=""
                    sim-parameter="etco2"
                    sim-value="{{ updates['etco2'] | default('36') }}"
                    class="yellow"
                    sim-transitionable="true"
                    wobble="2"
                    wobble-min="0"
                    sim-limit-low="34"
                    sim-limit-high="46"
                    {{ enabled(enablers, "capno", False) }}
                ></sim-readout>
            </div>
            <audio
                id="nibp-audio"
                src="{{ url_for('static', filename='audio/nibp.mp3') }}"
                preload="auto"
            ></audio>
            <div id="nibp">
                <p class="readout-label">
                    NIBP (mmHg)
                    <span id="nibp-timer-widget" sim-disabled="true"
                        >Auto 02:00</span
                    >
                </p>
                <!-- slow-updating -->
                <div class="flex wrap">
                    <sim-readout
                        prefix=""
                        suffix=""
                        data-sim-delayed-datasource="systolic-blood-pressure-noninvasive"
                        class="purple"
                        sim-value="{{ updates['systolic-blood-pressure-noninvasive'] | default('104') }}"
                        {{ enabled(enablers, "nibp", True) }}
                    ></sim-readout>
                    <sim-readout
                        prefix=" / "
                        suffix=""
                        data-sim-delayed-datasource="diastolic-blood-pressure-noninvasive"
                        class="purple"
                        sim-value="{{ updates['diastolic-blood-pressure-noninvasive'] | default('66') }}"
                        {{ enabled(enablers, "nibp", True) }}
                    ></sim-readout>
                    <sim-readout
                        prefix="("
                        suffix=")"
                        data-sim-delayed-datasource="mean-arterial-pressure-noninvasive"
                        class="purple"
                        sim-value="{{ updates['mean-arterial-pressure-noninvasive'] | default('78') }}"
                        sim-limit-low="60"
                        sim-limit-high="120"
                        {{ enabled(enablers, "nibp", True) }}
                    ></sim-readout>
                </div>
                <!-- live-updating -->
                <sim-readout
                    prefix=""
                    suffix=""
                    sim-parameter="systolic-blood-pressure-noninvasive"
                    class="purple"
                    sim-value="{{ updates['systolic-blood-pressure-noninvasive'] | default('104') }}"
                    {{ enabled(enablers, "nibp", True) }}
                    hidden
                ></sim-readout>
                <sim-readout
                    prefix=" / "
                    suffix=""
                    sim-parameter="diastolic-blood-pressure-noninvasive"
                    class="purple"
                    sim-value="{{ updates['diastolic-blood-pressure-noninvasive'] | default('66') }}"
                    {{ enabled(enablers, "nibp", True) }}
                    hidden
                ></sim-readout>
                <sim-readout
                    prefix="("
                    suffix=")"
                    sim-parameter="mean-arterial-pressure-noninvasive"
                    class="purple"
                    sim-value="{{ updates['mean-arterial-pressure-noninvasive'] | default('78') }}"
                    {{ enabled(enablers, "nibp", True) }}
                    hidden
                ></sim-readout>
            </div>
            <div id="rr">
                <p class="readout-label">RR (/min)</p>
                <sim-readout
                    prefix=""
                    suffix=""
                    display-name="Respiratory Rate"
                    sim-parameter="respiratory-rate"
                    sim-value="{{ updates['respiratory-rate'] | default('18') }}"
                    class="white"
                    sim-transitionable="true"
                    wobble="1"
                    wobble-min="0"
                    {{ enabled(enablers, "capno", False) }}
                    sim-limit-low="8"
                    sim-limit-high="20"
                ></sim-readout>
            </div>
        </div>
    {% endwith %}
    {% include "components/connection_modal.html" %}

    <dialog class="tray" id="resources">
        <div id="resource-header">
            <span>Resources</span>
            <form method="dialog">
                <button type="submit" class="button small red">Close</button>
            </form>
        </div>
        <div id="resource-list"></div>
        <div id="resource-marquee">
            <p>Resources sent from the Sim Controller will appear here.</p>
        </div>
    </dialog>

    {% include 'components/abg_machine.html' %}
    script

    {%
        assets filters="esbuild",
        output="gen/monitor.js", depends="**/*.js", "js/monitor.js"
    %}
        <script type="module" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
