{% extends "layouts/sim_layout.html" %}

{% block sim_toolbar_top %}
{% include "components/header.html" %}
{% endblock %}

{% block sim_mainarea %}
<style>
    #join {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    #join-form {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 100%;
        max-width: min(27ch, 75vw);
        transform: scale(1.3);
        margin: min(10vh, 3rem) auto;

        input[type="text"] {
            appearance: none;
            box-shadow: none;
            border: none;
            width: 0;
            /* set width to zero and let flexbox re-grow it */
            min-width: 6ch;
            flex-grow: 1;
            background-color: var(--dark-grey);
            border-radius: var(--border-radius);
            border: 2px solid white;
            padding: 0 0.75rem;
            font-size: 1rem;
            font-family: inherit;
            line-height: 1;
            color: white;
            min-height: 100%;
        }
    }

    #enter-the-sim {
        max-width: 70%;
        margin: min(10vh, 3rem) auto;
    }

    @media (max-width: 630px) {
        #enter-the-sim {
            max-width: 85%;
        }
    }

    p {
        text-align: center;
        text-wrap: balance;
    }
</style>
<div id="join" class="wrapped">
    <img id="enter-the-sim" src="{{ url_for('static', filename='img/enter_the_sim.svg') }}" alt="Enter the simulation">
    <form id="join-form" action="{{ url_for('sim_connect') }}" method="post">
        <input type="text" name="simcode" id="simcode" placeholder="SimCode" pattern="[a-zA-Z0-9]{6}" autocomplete="off"
            autofocus maxlength="6" oninvalid="this.setCustomValidity('Enter a valid SimCode')"
            oninput="this.setCustomValidity('')">
        <input type="submit" value="Join" class="button pink sim-join">
    </form>
    <!-- <p><strong>Connect extra devices using a <span sim-nocopy class="simcode">SIMCODE</span></strong></p> -->
</div>
<script>
    document.querySelector('#simcode').addEventListener('input', (e) => {
        let cursorPosition = e.target.selectionStart
        e.target.value = e.target.value.toUpperCase()
        e.target.selectionStart = cursorPosition
        e.target.selectionEnd = cursorPosition
    })
</script>
<!-- <footer class="noprint">
    <p>&copy; Gas Notes</p>
</footer> -->
{% endblock %}