[Unit]
Description=Gasnotes Simulator Service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=3
User=sim
ExecStart=/bin/bash /home/sim/gasnotes-simulator/sysadmin/run.sh
WorkingDirectory=/home/sim/gasnotes-simulator
StandardOutput=file:stdout.log
StandardError=file:error.log

[Install]
WantedBy=multi-user.target