[Unit]
Description = pocketbase

[Service]
Type           = simple
User           = sim
Group          = sim
LimitNOFILE    = 4096
Restart        = always
RestartSec     = 5
StandardOutput = /home/sim/gasnotes-simulator/log/errors.log
StandardError  = /home/sim/gasnotes-simulator/log/errors.log
ExecStart      = /home/sim/gasnotes-simulator/db/pocketbase serve
WorkingDirectory=/home/sim/gasnotes-simulator

[Install]
WantedBy = multi-user.target