:root {
    /*Colours*/
    --color-white: #ffffff;
    --color-black: black;
    --light-grey: #bbb;
    --dark-grey: rgb(24, 26, 26);
    --header-decorator-color: #bdc3c7;
    --gasnotes-blue: #3498db;

    --color-navy: #34495e;
    --color-light-one: #ecf0f1;
    --color-light-two: #969696;
    --color-light-three: #333;
    --color-green: rgb(76, 209, 55);
    --color-red: #e74c3c;
    --color-yellow: rgb(249, 186, 49);
    --color-blue: rgb(0, 168, 255);
    --color-purple: rgb(224, 86, 253);
    --color-pink: rgb(226 50 141);
    --color-white: rgb(255, 255, 255);

    /* Links */
    --linkcolour: #2980b9;
    --hovercolour: var(--gasnotes-blue);
    --visitedcolour: rgb(55, 109, 161);

    /* Text */
    --serif: "Segoe UI Emoji", "Georgia", serif;
    --sans-serif: "Segoe UI Emoji", "Helvetica", sans-serif;
    --monospace:
        ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
        "DejaVu Sans Mono", monospace;

    /* Buttons */
    --button-height: 2.7rem;
    --button-shadow-offset: 2px;
    --button-color: var(--gasnotes-blue);
    --border-radius: 0.7rem;

    /* Stacks */
    --stack-gap: 1rem;
}

@view-transition {
    navigation: auto;
}

@keyframes slide-out-left {
    to {
        translate: -100vw 0;
    }
}

@keyframes slide-out-right {
    to {
        translate: 100vw 0;
    }
}

@keyframes slide-in-right {
    from {
        translate: 100vw 0;
    }
}

@keyframes slide-in-left {
    from {
        translate: -100vw 0;
    }
}

[data-sim-nav-direction="forward"]::view-transition-old(root) {
    animation: 400ms ease-in-out both slide-out-left;
}

[data-sim-nav-direction="forward"]::view-transition-new(root) {
    animation: 400ms ease-in-out both slide-in-right;
}

[data-sim-nav-direction="backward"]::view-transition-old(root) {
    animation: 400ms ease-in-out both slide-out-right;
}

[data-sim-nav-direction="backward"]::view-transition-new(root) {
    animation: 400ms ease-in-out both slide-in-left;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*Body*/
body {
    font-family: var(--sans-serif);
    font-weight: normal;

    margin: 0;
    padding: 0;

    height: 100vh;
    height: 100dvh;

    color: white;
    background-color: black;
}

/*Wrapper*/
.wrapped {
    width: calc(100vw - 2rem);
    max-width: 800px;
    margin: 0 auto;
}

/*Text*/
p,
li,
dt,
dd,
pre,
label,
input,
table,
code {
    font-size: 1.2rem;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

sub {
    line-height: 0.8;
}

a {
    color: var(--linkcolour);
}

a:visited {
    color: var(--visitedcolour);
}

a:hover {
    text-decoration: underline;
    color: var(--hovercolour);
}

a.invisible-link {
    color: var(--color-black) !important;
    text-decoration: none;
}

a.no-underline {
    text-decoration: none !important;
}

/* Positioning utilities */
.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.mt-3 {
    margin-top: 3em;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-2 {
    margin-bottom: 2em;
}

.mb-3 {
    margin-bottom: 3em;
}

.ml-0 {
    margin-left: 0;
}

.ml-1 {
    margin-left: 1em;
}

.ml-2 {
    margin-left: 2em;
}

.ml-3 {
    margin-left: 3em;
}

.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: 1em;
}

.mr-2 {
    margin-right: 2em;
}

.mr-3 {
    margin-right: 3em;
}

.pt-0 {
    padding-top: 0;
}

.pt-1 {
    padding-top: 1em;
}

.pt-2 {
    padding-top: 2em;
}

.pt-3 {
    padding-top: 3em;
}

.pb-0 {
    padding-bottom: 0;
}

.pb-1 {
    padding-bottom: 1em;
}

.pb-2 {
    padding-bottom: 2em;
}

.pb-3 {
    padding-bottom: 3em;
}

.pl-0 {
    padding-left: 0;
}

.pl-1 {
    padding-left: 1em;
}

.pl-2 {
    padding-left: 2em;
}

.pl-3 {
    padding-left: 3em;
}

.pr-0 {
    padding-right: 0;
}

.pr-1 {
    padding-right: 1em;
}

.pr-2 {
    padding-right: 2em;
}

.pr-3 {
    padding-right: 3em;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Responsive text fragments */
[sim-responsive-text]::before {
    content: attr(data-rt-big);
}

@media (max-width: 576px) {
    [sim-responsive-text]::before {
        content: attr(data-rt-small);
    }
}

.opacity-0 {
    opacity: 0 !important;
}

.opacity-50 {
    opacity: 50%;
}

.opacity-100 {
    opacity: 100%;
}

.flex {
    display: flex;

    &.inline {
        display: inline-flex;
    }

    &.reverse {
        flex-direction: row-reverse;
    }

    &.column {
        flex-direction: column;

        &.reverse {
            flex-direction: column-reverse;
        }
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.nowrap {
        flex-wrap: nowrap;
    }

    &.align-end {
        align-items: end;
    }

    &.align-start {
        align-items: start;
    }

    &.align-center {
        align-items: center;
    }

    &.justify-end {
        justify-content: end;
    }

    &.justify-start {
        justify-content: start;
    }

    &.justify-center {
        justify-content: center;
    }

    &.justify-between {
        justify-content: space-between;
    }

    &.justify-around {
        justify-content: space-around;
    }

    &.gap-0 {
        gap: 0rem;
    }

    &.gap-1 {
        gap: 1rem;
    }

    &.gap-2 {
        gap: 2rem;
    }

    &.gap-3 {
        gap: 3rem;
    }
}

.ht-100 {
    height: 100%;
}

.wt-100 {
    width: 100%;
}

.grow-0 {
    flex-grow: 0;
}

.grow-1 {
    flex-grow: 1;
}

.hstack {
    display: grid;
    column-gap: var(--stack-gap);
    row-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
    max-width: 100%;

    & > * {
        margin-inline: 0;
    }
}

.hstack-centered {
    justify-items: center;
    align-items: center;
}

.vstack {
    display: flex;
    flex-direction: column;
    row-gap: var(--stack-gap);
    column-gap: 0;

    & > * {
        margin-block: 0;
    }
}

.vstack-centered {
    align-items: center;
    justify-content: center;
}

/* QR CODES */
.sim-qrcode {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin: 0;
}

/* BUTTONS */
.button {
    /* reset */
    appearance: none;
    outline: none;
    border: none;
    text-decoration: none !important;
    /* box */
    padding: 0 1rem;
    margin: 0 var(--button-shadow-offset) var(--button-shadow-offset) 0;
    /* text */
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--sans-serif);
    color: white !important;
    /* fancy shape */
    background-color: var(--button-color);
    border-radius: var(--border-radius);
    position: relative;
    top: 0;
    left: 0;
    box-shadow: var(--button-shadow-offset) var(--button-shadow-offset) 0
        color-mix(in srgb, var(--button-color) 70%, black);
    height: var(--button-height);

    display: flex;
    justify-content: center;
    align-items: center;

    /* suppress wrapping */
    min-width: min-content;
}

.button.small {
    --button-height: 2.2rem;
    font-size: 1.1rem;
    padding: 0 0.8rem;
}

a:has(> .button) {
    text-decoration: none;
}

.button:hover {
    background-color: color-mix(in srgb, var(--button-color) 90%, white);
}

.button:active {
    top: var(--button-shadow-offset);
    left: var(--button-shadow-offset);
    box-shadow: 0px 0px 0 color-mix(in srgb, var(--button-color) 90%, white);
    background-color: var(--button-color);
}

.dark {
    --button-color: var(--color-navy);
}

.light {
    --button-color: var(--color-light-one);
    color: var(--color-light-three) !important;
}

.green {
    color: var(--color-green);
    --button-color: var(--color-green);
}

.red {
    color: var(--color-red);
    --button-color: var(--color-red);
}

.yellow {
    color: var(--color-yellow);
    --button-color: var(--color-yellow);
}

.pink {
    --button-color: var(--color-pink);
}

.blue {
    color: var(--color-blue);
    --button-color: var(--color-blue);
}

.purple {
    color: var(--color-purple);
    --button-color: var(--color-purple);
}

.white {
    color: white;
    --button-color: white;
}

.vantablack {
    color: white;
    --button-color: black;
    border-color: white !important;
}

/* SWITCHES */
input[role="switch"] {
    --height: 1.8rem;
    --width: calc(var(--height) * 1.618);
    --background-off: var(--color-light-two);
    --background-on: color-mix(in oklch, var(--button-color) 90%, black);
    --foreground: white;

    transition: 200ms ease all;

    appearance: none;
    display: inline-block;

    background-color: var(--background-off);

    height: var(--height);
    width: var(--width);

    border-radius: 100rem;
    /* make pill shape */

    &::after {
        content: "";
        display: block;
        height: 100%;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: white;
        border: calc(var(--height) * 0.15) solid var(--background-off);
        transition: 200ms ease all;
    }

    &:checked {
        background-color: var(--background-on);
    }

    &:checked::after {
        translate: calc(var(--width) - var(--height));
        border-color: var(--background-on);
    }
}

/* SIM-SLIDERS */
sim-slider,
.sim-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    column-gap: 1rem;

    & .input-label {
        width: 4rem;
        font-size: 1.2rem;
    }
}

sim-slider {
    & .slider {
        flex-grow: 1;
    }

    & .minmax {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        color: white;
    }

    & .sim-value {
        font-size: 1.5rem;
        color: white;
        /* transition: all 100ms ease; */
        /* transition-behavior: allow-discrete; */
    }
}

& sim-slider[sim-disabled] {
    & .sim-value {
        opacity: 0;
        visibility: hidden;
    }
}

/* SELECT */
.sim-select {
    font-size: 1.2rem;

    & select {
        /* abolish detault styles */
        appearance: none;
        outline: none;
        /* removes blue rounded-corner outline when <select> element has focus */

        /* set new styles */
        border: 2px solid color-mix(in srgb, var(--button-color) 50%, black);
        border-radius: 0.5rem;

        /* text */
        color: white;
        font-size: 1rem;
        padding: 0.6rem 1.6rem 0.6rem 0.8rem;
        background-color: var(--dark-grey);

        /* icon */
        --chevron: url("data:image/svg+xml,%3C%73%76%67%20%78%6D%6C%6E%73%3D%22%68%74%74%70%3A%2F%2F%77%77%77%2E%77%33%2E%6F%72%67%2F%32%30%30%30%2F%73%76%67%22%20%77%69%64%74%68%3D%22%32%34%22%20%68%65%69%67%68%74%3D%22%32%34%22%20%76%69%65%77%42%6F%78%3D%22%30%20%30%20%32%34%20%32%34%22%20%66%69%6C%6C%3D%22%6E%6F%6E%65%22%20%73%74%72%6F%6B%65%3D%22%23%66%66%66%66%66%66%22%20%73%74%72%6F%6B%65%2D%77%69%64%74%68%3D%22%32%22%20%73%74%72%6F%6B%65%2D%6C%69%6E%65%63%61%70%3D%22%72%6F%75%6E%64%22%20%73%74%72%6F%6B%65%2D%6C%69%6E%65%6A%6F%69%6E%3D%22%72%6F%75%6E%64%22%20%63%6C%61%73%73%3D%22%66%65%61%74%68%65%72%20%66%65%61%74%68%65%72%2D%63%68%65%76%72%6F%6E%73%2D%64%6F%77%6E%22%3E%3C%70%6F%6C%79%6C%69%6E%65%20%70%6F%69%6E%74%73%3D%22%37%20%31%33%20%31%32%20%31%38%20%31%37%20%31%33%22%3E%3C%2F%70%6F%6C%79%6C%69%6E%65%3E%3C%70%6F%6C%79%6C%69%6E%65%20%70%6F%69%6E%74%73%3D%22%37%20%36%20%31%32%20%31%31%20%31%37%20%36%22%3E%3C%2F%70%6F%6C%79%6C%69%6E%65%3E%3C%2F%73%76%67%3E");

        background-image: var(--chevron);
        background-position: center right 0.75rem;
        background-size: 1.2rem;
        background-repeat: no-repeat;
    }

    & select {
        flex-grow: 1;
    }
}

/* NUMBERS */
input[type="number"] {
    /* abolish detault styles */
    appearance: none;
    outline: none;
    /* removes blue rounded-corner outline when <select> element has focus */

    /* set new styles */
    border: 2px solid #444;
    border-radius: 0.5rem;

    /* text */
    color: white;
    font-size: 1rem;
    padding: 0.6rem;
    background-color: var(--dark-grey);
}

/* SLIDERS */
input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    background: none;
    margin: 1rem 0;
    --range-handle-color: var(--button-color);
    --range-handle-border-color: gainsboro;
    --range-handle-diameter: 2rem;
    --range-background-color: color-mix(
        in srgb,
        var(--range-handle-color) 50%,
        black
    );
}

input[type="range"]::-webkit-slider-runnable-track {
    appearance: none;
    -webkit-appearance: none;
    height: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--range-background-color);
    transition: all 100ms ease;
}

input[type="range"]::-moz-range-track {
    appearance: none;
    -moz-appearance: none;
    height: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--range-background-color);
    transition: all 100ms ease;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: var(--range-handle-diameter);
    height: var(--range-handle-diameter);
    margin-top: -0.75rem;
    border: 3px solid var(--range-handle-border-color);
    border-radius: 50%;
    cursor: grab;
    background-color: var(--range-handle-color);
    transition: all 100ms ease;
}

input[type="range"]::-moz-range-thumb {
    appearance: none;
    -moz-appearance: none;
    width: var(--range-handle-diameter);
    height: var(--range-handle-diameter);
    margin-top: -0.75rem;
    border: 3px solid var(--range-handle-border-color);
    border-radius: 50%;
    cursor: grab;
    background-color: var(--range-handle-color);
    transition: all 100ms ease;
}

sim-slider:has(select[value=""]),
input[type="range"]:disabled::-webkit-slider-thumb {
    transform: scale(0);
    opacity: 0;
}

input[type="range"]:disabled::-moz-range-thumb {
    transform: scale(0);
    opacity: 0;
}

input[type="range"]:active {
    --range-background-color: color-mix(
        in srgb,
        var(--range-handle-color) 90%,
        black
    );
}

input[type="range"]:disabled {
    --range-handle-color: color-mix(in srgb, var(--button-color) 20%, black);
    --range-background-color: color-mix(
        in srgb,
        var(--range-handle-color) 90%,
        black
    );
    --range-handle-border-color: #444;
}

input[type="range"]:enabled:active::-webkit-slider-thumb {
    transform: scale(1.25);
    cursor: grabbing;
}

input[type="range"]:enabled:active::-moz-range-thumb {
    transform: scale(1.25);
    cursor: grabbing;
}

/* DIALOG */
html:has(dialog[open]) {
    /* suppress scroll when there is an open dialog */
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    border: none !important;
}

.centered {
    text-align: center;
}

/* cool space-themes horizontal rules */
hr {
    border: 1px solid var(--color-light-three);
}

/* hr::before {
    display: inline-block;
    width: 100%;
    height: 3px;
    background: linear-gradient(
        90deg,
        transparent,
        rgb(247, 190, 85) 10%,
        rgb(226 50 141) 90%,
        transparent
    );
    border-radius: 100%;
    content: " ";
} */

span.simcode {
    /* box model / positioning */
    position: relative;
    display: inline-flex;
    margin: 0;
    padding: 0.15ch 0.6ch;
    height: unset;
    overflow: hidden;

    /* typography */
    font-family: var(--monospace) !important;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--color-yellow);

    /* visual styling */
    background-color: black;
    border: 2px solid var(--color-yellow);
    border-radius: calc(1 * var(--border-radius)) !important;

    /* layout */
    align-items: center;
    justify-content: center;

    /* animation */
    transition: all 200ms ease;

    &:empty {
        visibility: hidden;
    }
}

span.simcode::after {
    opacity: 0;
    transition: all 200ms ease;
}

span.simcode.copied {
    background-color: var(--color-yellow);
    color: var(--color-yellow) !important;
}

span.simcode.copied::after {
    opacity: 1;
    content: "COPIED";
    position: absolute;
    top: 0;
    padding: inherit;
    background-color: var(--color-yellow);
    color: black;
}

span.simcode:hover {
    background-color: var(--color-yellow);
    color: black;
}

span.simcode:hover:active {
    transform: scale(0.95);
    transform-origin: center;
}

.sim-button-group {
    border-radius: var(--border-radius);
    border: 2px solid #222;
    background-color: #222;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    overflow: hidden;

    input {
        display: none;
    }

    label {
        transition: all 200ms ease;
        flex-grow: 1;
        margin: 0;
        padding: 0.5rem 1rem;
        background-color: var(--dark-grey);
        font-size: 1rem;
        text-align: center;
        font-weight: bold;
    }

    label:has(input:checked) {
        background-color: #444;
    }
}

.tray {
    transition:
        display var(--tray-animation-duration) ease allow-discrete,
        overlay var(--tray-animation-duration) ease allow-discrete,
        opacity var(--tray-animation-duration) ease;

    border-radius: 1rem;

    border: 2px solid #222;
    background-color: var(--dark-grey);

    color: white;

    z-index: 999;

    padding: 1rem 1rem 0 1rem;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.85);
        transition: opacity var(--tray-animation-duration) ease;
    }

    /* transition: when open */
    &[open] {
        /* transform: translateY(0); */
        opacity: 1;
        &::backdrop {
            opacity: 1;
        }

        /* transition: before opening */
        @starting-style {
            opacity: 0;
            &::backdrop {
                opacity: 0;
            }
        }
    }

    /* transition: after close */
    &:not([open]) {
        opacity: 0;
        &::backdrop {
            opacity: 0;
        }
    }
}

/* Responsive */
@media (max-width: 576px) {
    .hstack {
        grid-template-columns: 1fr;
        row-gap: var(--stack-gap);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        /*Colours*/
        --color-white: rgb(17, 21, 23);
        --color-black: white;
        --light-grey: #bbb;
        --header-decorator-color: #bdc3c7;
        --gasnotes-blue: rgb(55, 109, 161);
        --dark-grey: rgb(24, 26, 26);

        /* Links */
        --linkcolour: #3498db;
        --hovercolour: #2980b9;
        --visitedcolour: #3498db;
    }
}
