:root {
    --sim-gradient: linear-gradient(20deg, rgb(255, 170, 0), rgb(252, 66, 123) 75%);
}

html:has(dialog[open]) {
    /* suppress scroll when there is an open dialog */
    overflow: hidden;
}

body {
    font-family: var(--sans-serif);
    font-weight: var(--font-weight);

    margin: 0;
    padding: 0;

    display: grid;
    grid-template-rows: 1fr;
    height: 100vh;
    height: 100dvh;

    color: white;
    background-color: black;
}
h1, h2, h3, h4, h5, h6 {
    color: white;
    border: none !important;
}

/* cool space-themes horizontal rules */
hr {
    border: none;
}
hr::before {
    display: inline-block;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, rgb(247, 190, 85) 10%, rgb(226 50 141) 90%, transparent);
    border-radius: 100%;
    content: " ";
    
}

span.simcode {
    /* box model / positioning */
    position: relative;
    display: inline-flex;
    margin: 0;
    padding: 0.15ch 0.6ch;
    height: unset;
    overflow: hidden;

    /* typography */
    font-family: var(--monospace) !important;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--color-yellow);

    /* visual styling */
    background-color: black;
    border: 2px solid var(--color-yellow);
    border-radius: calc(1* var(--border-radius)) !important;

    /* layout */
    align-items: center;
    justify-content: center;

    /* animation */
    transition: all 200ms ease;
}
span.simcode::after {
    opacity: 0;
    transition: all 200ms ease;
}
span.simcode.copied {
    background-color: var(--color-yellow);
    color: var(--color-yellow) !important;
}
span.simcode.copied::after {
    opacity: 1;
    content: "COPIED";
    position: absolute;
    top: 0;
    padding: inherit;
    background-color: var(--color-yellow);
    color: black;
}
span.simcode:hover {
    background-color: var(--color-yellow);
    color: black;
}
span.simcode:hover:active {
    transform: scale(0.95);
    transform-origin: center;
}

.sim-gradient-text {
    background-image: var(--sim-gradient);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.sim-button-group {
    border-radius: var(--border-radius);
    border: 2px solid #222;
    background-color: #222;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    overflow: hidden;

    input {
        display: none;
    }

    label {
        transition: all 200ms ease;
        flex-grow: 1;
        margin: 0;
        padding: 0.5rem 1rem;
        background-color: var(--dark-grey);
        font-size: 1rem;
        text-align: center;
        font-weight: bold;
    }

    label:has(input:checked) {
        background-color: #444;
    }
}

header {
    background-color: black;
    border-bottom: 3px solid #333;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-otherside {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
@media (max-width: 576px) {
    #navbar-right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    #navbar-right > span {
        margin: 1rem 0;
    }
    #navbar-right > span::before {
        display: none;
    }
}

.tile {
    transition: all 100ms ease;
    border-radius: var(--border-radius);
    border: 2px solid #222;
    background-color: var(--dark-grey);
    color: white;
    font-weight: bold;
    min-height: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.65rem;
    align-items: center;

    &:hover {
        background-color: #444;
    }

    .thumbnail {
        font-size: 2rem;
        margin: 0;
        padding: 0;
        width: 100%;
        border-radius: 0.35rem;
        display: inline-block;
        text-align: center;
    }
    img.thumbnail {
        aspect-ratio: 1/1;
    }

    .label {
        font-size: 1rem;
        line-height: 1;
        text-align: center;
    }

    &:has(input:checked) {
        background-color: #444;
    }
}

.tray {
    --tray-height: calc(min(80vh, 850px));
    --tray-animation-duration: 200ms;

    height: var(--tray-height);
    max-height: var(--tray-height);

    overflow: hidden;

    margin-left: calc(min(0, auto));
    margin-right:  calc(min(0, auto));
    margin-bottom: 0;
    width: 95vw;
    max-width: 500px;

    transition:
        display var(--tray-animation-duration) ease allow-discrete,
        overlay var(--tray-animation-duration) ease allow-discrete,
        transform var(--tray-animation-duration) ease;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    border: 2px solid #222;
    background-color: var(--dark-grey);

    color: white;

    padding: 1rem 1rem 0 1rem;

    &::backdrop {
        background-color: rgba(0,0,0,0.85);
    }

    /* transition: when open */
    &[open] {
        transform: translateY(0);

        /* transition: before opening */
        @starting-style {
            transform: translateY(var(--tray-height));
        }
    }
    /* transition: after close */
    &:not([open]) {
        transform: translateY(var(--tray-height));
        display: none !important;
    }


}