<html>
    <style>
        body {
            background-color: black;
            font-family: sans-serif;
            color: white;
        }
        #all-waves {
            width: 800px;
            margin: 0 auto;
            overflow-x: hidden;
        }
        .wave {
            border-width: 0 !important;
        }
    </style>
    <body>
        <h1>Wave Tester</h1>
        <form id="wavegen-form" action="">
            <select name="wave" id="">
                <option value="sinus">Sinus</option>
                <option value="spo2">Spo2</option>
            </select>
            <select name="colour" id="">
                <option value="green">Green</option>
                <option value="red">Red</option>
                <option value="yellow">Yellow</option>
                <option value="white">White</option>
                <option value="magenta">Pink</option>
                <option value="deepskyblue">Blue</option>
            </select>
            <input type="submit" value="Generate" />
        </form>
        <div id="all-waves"></div>

        <script type="module">
            import {} from "/static/js/wavemaker2.js";

            // Override form submission
            let allWavesContainer = document.getElementById("all-waves");
            let formPicker = document.querySelector("#wavegen-form");
            let wavePicker = formPicker.querySelector('select[name="wave"]');
            let colourPicker = formPicker.querySelector(
                'select[name="colour"]',
            );

            formPicker.addEventListener("submit", (e) => {
                e.preventDefault();

                // Clear wave container
                allWavesContainer.innerHTML = "";

                // Genreate new waves
                let nominalRhythm = wavePicker.value;
                let nominalColour = colourPicker.value;
                // paintWaves(20, 5, 200, nominalRhythm, nominalColour)

                for (let i = 20; i <= 200; i += 5) {
                    let newTrace = document.createElement("div");
                    newTrace.innerHTML = `<sim-trace rate="${i}" morphology="${nominalRhythm}" stroke-colour="${nominalColour}"></sim-trace>`;
                    allWavesContainer.append(newTrace);

                    for (let j = 0; j < i * 0.12 + 10; j++) {
                        newTrace.firstChild.beat(0, false, false);
                    }
                }

                // Save state
                localStorage.setItem("last-wave", nominalRhythm);
                localStorage.setItem("last-colour", nominalColour);
            });

            // Save state between reloads
            window.addEventListener("load", async (e) => {
                let lastColour = localStorage.getItem("last-colour");
                if (lastColour != null) {
                    colourPicker.value = lastColour;
                }

                let lastWave = localStorage.getItem("last-wave");
                if (lastWave != null) {
                    wavePicker.value = lastWave;
                }

                formPicker.querySelector('input[type="submit"]').click();
            });
        </script>

        <!-- <script type="module">
            // import { waveManager, pixelsToMilliseconds, waveGenerators } from '/static/js/wavemaker.js'
            import { } from '/static/js/wavemaker2.js'

            //  _       __
            // | |     / /___ __   _____  _____
            // | | /| / / __ `/ | / / _ \/ ___/
            // | |/ |/ / /_/ /| |/ /  __(__  )
            // |__/|__/\__,_/ |___/\___/____/


            let allWavesContainer = document.getElementById('all-waves')
            async function paintWaves(lowest, interval, highest, rhythm, colour='rgb(76, 209, 55)') {
                for (let i=highest; i>=lowest; i-=interval) {
                    // Make a new <div>
                    let newDiv = document.createElement('div')
                    // allWavesContainer.appendChild(newDiv)

                    // Give it a title
                    let pTag = document.createElement('p')
                    pTag.innerText = `${i} bpm`
                    // newDiv.appendChild(pTag)

                    let simTrace = document.createElement('sim-trace')
                    // newDiv.appendChild(simTrace)

                    // Fill it with waves
                    // for (let j=0; j < i * 0.3; j++) {
                    //     await ecgManager.paintNextComplex(null, true)
                    // }
                }
            }

            // Override form submission
            let formPicker = document.querySelector('#wavegen-form')
            let wavePicker = formPicker.querySelector('select[name="wave"]')
            let colourPicker = formPicker.querySelector('select[name="colour"]')

            // Generate Wave Options List
            // for (let g in waveGenerators) {
            //     wavePicker.innerHTML += `<option value="${g}">${g}</option>`
            // }


            formPicker.addEventListener('submit', (e) => {
                // Prevent submission
                e.preventDefault()

                // Clear wave container
                allWavesContainer.innerHTML = ""

                // Genreate new waves
                let nominalRhythm = wavePicker.value
                let nominalColour = colourPicker.value
                paintWaves(20, 5, 200, nominalRhythm, nominalColour)

                // Save state
                localStorage.setItem('last-wave', nominalRhythm)
                localStorage.setItem('last-colour', nominalColour)
            })

            // Save state between reloads
            window.addEventListener('load', async (e) => {
                let lastColour = localStorage.getItem('last-colour')
                if (lastColour != null) {
                    colourPicker.value = lastColour
                }

                let lastWave = localStorage.getItem('last-wave')
                if (lastWave != null) {
                    wavePicker.value = lastWave
                }

                formPicker.querySelector('input[type="submit"]').click()
            })
        </script> -->
    </body>
</html>
