[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-socketio = "*"
importlib-metadata = "*"
segno = "*"
gunicorn = "*"
eventlet = "*"
pocketbase = "*"
neurokit2 = "*"
requests = "*"
flask-minify = "*"

[dev-packages]

[requires]
python_version = "3.11"
