<!DOCTYPE html>
<html>
<head>
    <title>{{ data.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="#000000" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="stylesheet" type="text/css" href="/static/sim.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
    <meta name="color-scheme" content="light only">
</head>
<body>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>