<style>
#mega-title-group {
    --mega-text-size: clamp(3em, 17vw, 10em);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-area: title;
}

#mega-title {
    font-size: var(--mega-text-size);
    margin: 0;
    padding: 0;
    text-align: center;
    grid-area: title;
}
#mega-subtitle {
    font-size: calc(0.45 * var(--mega-text-size));
    margin: 0;
    /* color: rgb(255 204 0); */
    grid-area: subtitle;
}
</style>
<a href="/" id="mega-title-group" class="no-underline">
    <h1 id="mega-title">Gas Notes</h1>
    <h2 id="mega-subtitle" class="sim-gradient-text">Simulation Monitor</h2>
</a>