{% extends "base.html" %}

{% block content %}
<style>
#sim-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    row-gap: 5vh;
    padding-top: 1.5rem;
}

.wrapped {
    max-width: 700px;
}

#bento-box {
    margin-top: 1rem;
    --gutter-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    & .bento-item {
        display: grid;
        width: 100%;
        grid-template-rows: auto 1fr;
        grid-template-columns: var(--gutter-size) 1fr;
        grid-template-areas:
            "number header"
            "body body";

        & > h2 {
            display: flex;
            align-items: center;
            font-size: clamp(1.75rem, calc(0.7 * var(--gutter-size)), 3rem);
            margin: 0;
            margin-left: calc(var(--gutter-size) * 0.5);
        }

        & > div.number {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            aspect-ratio: 1/1;
            font-size: calc(0.6 * var(--gutter-size));
            color: black;
            background-color: white;
            border-radius: 50% 50%;
            font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
            font-weight: 600;
        }
        & > div:last-of-type {
            grid-area: body;
            padding: 0;
            margin-left: calc(var(--gutter-size) * 0.5);
            padding-left: calc(var(--gutter-size) * 1);
            border-left: 4px dotted var(--color-yellow);
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

    & .bento-item:last-of-type > div:last-of-type {
        border-color: transparent;
    }
}

#bento-connect {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "qr buttons"
        "url url";
    column-gap: 1rem;
    row-gap: 2rem;

    & #index-qrcode {
        background-color: white;
        padding: 1rem;
        border-radius: 1rem;
        margin: 0;
    }

    & #bento-connect-right {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        grid-area: buttons;

        & h2 {
            margin: 0;
        }
    }

    & #bento-connect-bottom {
        display: none !important;
        grid-area: url;
        display: flex;
        gap: 1rem;

        & pre {
            flex-grow: 1;
        }
    }

    & #sim-url {
        width: 100%;
        background-color: black;
        color: white;
        border: 2px solid white;
        padding: 0.5rem 1rem;
        border-radius: var(--border-radius);
    }

    & .simcode {
        font-size: 2.5em;
    }

}

#mega-title-group {
    font-size: 0.7rem;
}

#bento-mode-picker {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media (max-width: 630px) {
    #bento-box {
        --gutter-size: 2rem;
        padding-right: calc(0.5 * var(--gutter-size)) !important;
    }
    #bento-connect {
        grid-template-columns: 1fr;
        grid-template-areas:
        "qr"
        "buttons"
        "url";
        overflow: hidden;
    }
}
</style>
<div id="sim-index" class="wrapped">
    {% include 'mega-title.html' %}
    <div id="bento-box">
        <div class="bento-item">
            <div class="number">1</div>
            <h2>Connect Devices</h2>
            <div id="bento-connect">
                <img id="index-qrcode" src="{{ data.qrcode }}" alt="">
                <div id="bento-connect-right">
                        <h2>Enter SimCode</h2>
                        <span class="simcode">{{ data.sim_room_id }}</span>
                        <span>at <a href="/">sim.gasnotes.net</a></span>
                </div>
                <div id="bento-connect-bottom">
                    <input type="text" name="" id="sim-url" value="{{ data.full_url }}" disabled>
                </div>
            </div>
        </div>
        <div class="bento-item">
            <div class="number">2</div>
            <h2>Choose a Mode</h2>
            <div id="bento-mode-picker">
                <a class="button red" target="_blank" href="{{ data.controller_url}}">Controller</a>
                <a class="button red" target="_blank" href="{{ data.monitor_url}}">Monitor</a>
            </div>
        </div>
        <div class="bento-item">
            <div class="number">3</div>
            <h2>Run a Sim</h2>
            <div>
                <!-- <p>Don't forget your basic assumption…</p>
                <blockquote>
                    <p>We believe that everyone participating in activities using Gas Notes tools is intelligent, capable, cares about doing their best, and wants to improve.</p>
                    <cite>Adapted from <a href="http://www.harvardmedsim.org/">Center for Medical Simulation</a>, Boston, Massachusetts, USA.</cite>
                </blockquote> -->
            </div>
        </div>
    </div>
</div>

{% endblock %}