{% extends "page.html" %}
{% block page %}
<style>
    #mega-header {
        max-width: 600px;
        align-self: center;
        justify-self: center;
    }
</style>
<!-- <img src="/static/gasnotes_sim_banner.svg" id="mega-header" alt="Gas Notes Simulation Monitor: a free tool for medical eduators."> -->
<img src="/static/expensive_simultion_setup.svg" alt="" class="white-outline">
<h2 class="yellow">Origins</h2>
<p>Simulation Monitor is a remote-controlled vitals monitor designed to help you deliver more immersive healthcare simulations.</p>
<p>This software was written by <a href="http://nunn.science">Sam Nunn</a> and is proudly open-source. You can check out the code on <a href=https://github.com/samnunn/gasnotes-simulator">GitHub</a> and read more about how it was made over on <a href="https://gasnotes.net/nerdbox/simulator-announcement/">the main site</a>.</p>


    <section>
        <h1 class="yellow">Simulation Basics</h1>
        <p>Simulation is <b>a kind of practice</b>. You can use practice to build strengths and find weaknesses in individuals, your team, and your system all without putting patients in harm’s way.</p>
        <p><img src="/static/expensive_simultion_setup.svg" class="image-75 float-middle white-outline" alt="A cartoon of an imaginary simulation laboratory"></p>
        <p>No athlete would hit the pitch without practice, so neither should you.</p>
    </section>
    <section>
        <h2 class="yellow">Basic Assumption</h2>
        <p><b>Most newcomers to sim are nervous.</b> This is natural. The worst thing you can do is bring their fears to life by embarrassing them or tricking them into failure. Nothing will be learned, and nobody will come to your next sim.</p>
        <p>Your mission is to suspend their anxiety and transition to a parallel universe where risk-free experimentation is welcome and wanted. You should start by internalising and then preaching the Basic Assumption…</p>
        <blockquote>
            <p>We believe that everyone participating in activities using Gas Notes tools is intelligent, capable, cares about doing their best, and wants to improve.</p>
            <cite>Adapted from <a href="http://www.harvardmedsim.org/">Center for Medical Simulation</a>, Boston, Massachusetts, USA.</cite>
        </blockquote>
        <p>Basic Assumption will help you see mistakes as puzzles to be solved, not crimes to be punished.</p>
    </section>

    <section>
        <h2 class="yellow">How to Use This Tool</h2>
        <p></p>
    </section>

<h2 class="yellow">Frequently Asked Questions</h2>
<details>
    <summary>What does it do?</summary>
    It seemed like a good idea at the time.
</details>
<details>
    <summary>Why did you make this?</summary>
    It seemed like a good idea at the time.
</details>
<details>
    <summary>How much money does it cost?</summary>
    It seemed like a good idea at the time.
</details>
<details>
    <summary>Can I have the source code?</summary>
    It seemed like a good idea at the time.
</details>
<details>
    <summary>Can we talk?</summary>
    It seemed like a good idea at the time.
</details>
{% endblock %}