<!DOCTYPE html>
<html>
<head>
    <title>{{ data.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="#000000" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="stylesheet" type="text/css" href="/static/sim.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="/static/socketio.min.js"></script>
    <meta name="color-scheme" content="light only">
</head>
<body>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script>
        let allSimCodes = document.querySelectorAll('span.simcode')
        for (let c of allSimCodes) {
            c.style = `width: ${c.clientWidth}px;`
            if (c.hasAttribute('sim-nocopy') != true) {
                c.addEventListener('click', (e) => {
                    navigator.clipboard.writeText(e.target.innerText)
                    e.target.classList.add('copied')
                    setTimeout(() => { e.target.classList.remove('copied') }, 2000)
                })
            }
        }
    </script>
</body>
</html>