<header class="noprint">
    <div class="wrapped">
        <nav id="navbar">
            <div id="navbar-left">
                <a id="site-title" href="https://gasnotes.net">Gas Notes 😴</a>
                <label id="navbar-toggle-label" for="navbar-toggle" class="button small red"><span>Menu</span></label>
            </div>
            <input type="checkbox" name="navbar-toggle" id="navbar-toggle">
            <div id="navbar-right">
                <span><a href="https://github.com/samnunn/gasnotes-simulator">Source</a></span>
                <span><a href="/connect">Connect</a></span>
                <span><a href="/new" class="button pink small">Start a Sim</a></span>
            </div>
        </nav>
    </div>
</header>