{% extends "base.html" %}

{% block content %}
<style>
body {
    background-image: none;
}
/* MONITOR */
#monitor {
    grid-area: modal;
    display: grid;
    {% if data.demo == true %}
    grid-template-rows: 1fr;
    {% else %}
    grid-template-rows: auto 1fr;
    {% endif %}
    height: 100vh;

    & #main-table {
        height: auto;
        display: grid;
        grid-template-columns: 1fr 18rem;
        grid-template-rows: repeat(4, 1fr) auto;
        gap: 1rem;
        padding: 1rem;
        font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;

        & > * {
            /* min-height: 0px; */
            position: relative; /* needed to position the child wave elements absolutely */
        }

        & div:has(>sim-trace) {
            padding-top: 1rem;
            max-width: 100%;
        }

        & sim-trace {
            position: absolute;
            width: 100%;
        }

        & sim-readout {
            font-size: clamp(3rem, calc(20vh - 5rem), 10rem);
            line-height: 0.9;
        }
        & .readout-label {
            font-size: 1rem;
            margin: 0;
        }
    }
}

#bp-readout > sim-readout {
    font-size: clamp(3rem, calc(10vh - 2.5rem), 5rem) !important;
}

@media only screen and (max-width: 630px) {
    #monitor {
        grid-template-rows: auto 1fr;
    }

    #main-table {
        display: flex !important;
        flex-direction: column;
        /* grid-template-columns: 1fr !important; */
        /* grid-template-rows: repeat(4, 1fr); */

        & div:has(>sim-trace) {
            display: none;
        }
    }
    #bp-readout {
        display: none;
    }
}

{% if data.demo == true %}
header {
    display: none;
}
{% endif %}
</style>

<div id="monitor">
    <header class="noprint">
        <a id="site-title" title="Return to sim index" href="{{ data.index_url }}"><span class="sim-gradient-text">Sim</span> Monitor 😴</a>
        <span class="simcode" aria-roledescription="button" title="Click to copy SimCode">{{ data.sim_room_id }}</span>
    </header>
    <div id="main-table">
        <div>
            <sim-trace id="ecg" sim-parameter="ecg-rhythm" stroke-colour="rgb(76, 209, 55)"></sim-trace>
        </div>
        <div>
            <p class="readout-label">HR (/min)</p>
            <sim-readout prefix="" suffix="" sim-parameter="heart-rate" sim-colour="green" sim-value="67" sim-transitionable="true" baseline-wobble="true" wobble="3"></sim-readout>
        </div>
        <div>
            <sim-trace id="spo2" sim-parameter="spo2-trace" mode="copycat" pacemaker="ecg" morphology="spo2" stroke-colour="rgb(0, 168, 255)" baseline-wobble="true"></sim-trace>
        </div>
        <div>
            <p class="readout-label">SpO<sub>2</sub> (%)</p>
            <sim-readout prefix="" suffix="" sim-parameter="spo2" sim-colour="blue" sim-value="99" sim-transitionable="true" wobble="2"></sim-readout>
        </div>
        <div>
            <sim-trace id="spo2" mode="copycat" pacemaker="ecg" morphology="artline" sim-parameter="artline-trace" stroke-colour="rgb(232, 65, 24)" baseline-wobble="true"></sim-trace>
        </div>
        <div id="bp-readout">
            <p class="readout-label">ART (mmHg)</p>
            <sim-readout prefix="" suffix=" / " sim-parameter="systolic-blood-pressure" sim-colour="red" sim-value="119" sim-transitionable="true"></sim-readout>
            <sim-readout prefix="" suffix="" sim-parameter="diastolic-blood-pressure" sim-colour="red" sim-value="57" sim-transitionable="true"></sim-readout>
            <sim-readout prefix="(" suffix=")" sim-parameter="mean-arterial-pressure" sim-colour="red" sim-value="78" sim-transitionable="true"></sim-readout>
        </div>
        <div>
            <sim-trace id="capno" sim-parameter="capno-trace" morphology="capno-normal" rate="18" stroke-colour="rgb(251, 197, 49)" fill-colour="rgb(251, 197, 49)" fill-opacity="0.15" x-rate="60" y-scale="1"></sim-trace>
        </div>
        <div id="etco2">
            <p class="readout-label">etCO<sub>2</sub></p>
            <sim-readout prefix="" suffix="" sim-parameter="etco2" sim-colour="yellow" sim-value="36" sim-transitionable="true" wobble="2"></sim-readout>
        </div>
        <div id="nibp">
            <p class="readout-label">NIBP (mmHg)</p>
            <sim-readout prefix="" suffix=" / " sim-parameter="systolic-blood-pressure" sim-colour="purple" sim-value="119" sim-disabled="{{ data.demo == False }}"></sim-readout>
            <sim-readout prefix="" suffix="" sim-parameter="diastolic-blood-pressure" sim-colour="purple" sim-value="57" sim-disabled="{{ data.demo == False }}"></sim-readout>
            <sim-readout prefix="(" suffix=")" sim-parameter="mean-arterial-pressure" sim-colour="purple" sim-value="78" sim-disabled="{{ data.demo == False }}"></sim-readout>
        </div>
        <div id="rr">
            <p class="readout-label">RR (/min)</p>
            <sim-readout prefix="" suffix="" display-name="Respiratory Rate" sim-parameter="respiratory-rate" sim-colour="white" sim-value="18" sim-transitionable="true" wobble="1"></sim-readout>
        </div>
    </div>
</div>

<script type="module">
{% if data.demo != true %}
// SOCKET SETUP
const socket = io({
    auth: {
        sim_room_id: '{{ data.sim_room_id }}',
    }
})

socket.on('sim-update', (msg) => {
    let updates = JSON.parse(msg)['updates']

    // update UI
    for (let u of updates) {
        const targetElements = document.querySelectorAll(`[sim-parameter="${u['sim-parameter']}"]`)

        for (let el of targetElements) {
            // start transition
            // non-transitioning elements will automatically get a transition time of zero
            new TransitionManager(el, u['sim-value'])
            
            // set sim-disabled
            if (u['sim-disabled'] == true) {
                el.setAttribute('sim-disabled', true)
            } else {
                el.setAttribute('sim-disabled', false)
            }
        }

        // transition time
        if (u['sim-parameter'] == 'transition-time') {
            document.body.setAttribute('sim-transition-time', u['sim-value'])
        }
    }

    // start all transitions
    const transitionableElements = document.querySelectorAll('[sim-transitionable]')
    for (let el of transitionableElements) {
        el.activeTransition.start()
    }
})

{% endif %}

// CUSTOM ELEMENTS
customElements.define('sim-readout', class extends HTMLElement {
    
    constructor () {
        super()
        let prefix = this.getAttribute('prefix')
        let suffix = this.getAttribute('suffix')
        this.wobble_factor = parseInt(this.getAttribute('wobble')) || 0
        let colour = this.getAttribute('sim-colour')
        this.innerHTML = `
        <span class="readout-value ${colour}">${prefix}--${suffix}</span>
        `
        
        if (this.wobble_factor != 0) {
            this.wobble()
        }
    }
    
    updateReadout(printedValue = null) {
        let prefix = this.getAttribute('prefix')
        let suffix = this.getAttribute('suffix')
        
        if (printedValue == null) {
            printedValue = this.getAttribute('sim-value')
        }
        
        if (this.getAttribute('sim-disabled')?.toLowerCase() == 'true') {
            printedValue = '--'
        }
        
        this.querySelector('span.readout-value').innerText = prefix + printedValue + suffix
    }
    
    wobble() {
        let trueValue = this.getAttribute('sim-value')
        let randomValue = parseInt(trueValue) + Math.floor(Math.random() * this.wobble_factor * 2 - this.wobble_factor)
        
        // dirty, ugly hack
        if (this.getAttribute('sim-parameter') == 'spo2') {
            randomValue = Math.min(100, randomValue)
        }
        
        this.updateReadout(randomValue)
        
        let randomInterval = 8000 + Math.random() * 8000
        
        this.wobble_timer = setTimeout(() => {
            this.wobble()
        }, randomInterval)
    }

    attributeChangedCallback (name, oldValue, newValue) {
        this.updateReadout()
        clearInterval(this.wobble_timer)
        
        let randomInterval = 8000 + Math.random() * 8000
        this.wobble_timer = setTimeout(() => {
            this.wobble()
        }, randomInterval)
    }
    
    static get observedAttributes () {
        return ['sim-value', 'sim-disabled']
    }
})

class TransitionManager {
    targetElement
    targetValue
    initialValue
    currentValue
    timeout
    incrementSize
    incrementDuration = 5000
    running = true

    constructor(targetElement, targetValue, targetParameter='sim-value') {
        this.targetElement = targetElement
        this.targetValue = parseInt(targetValue)
        this.initialValue = parseInt(this.targetElement.getAttribute('sim-value'))
        this.currentValue = this.initialValue

        // stop the currently-running transition
        if (this.targetElement.activeTransition instanceof TransitionManager) {
            this.targetElement.activeTransition.running = false
        }

        // substitute this transition
        this.targetElement.activeTransition = this
        
        // immediately commit changes for non-transitionable elements
        if (this.targetElement.hasAttribute('sim-transitionable') == false) {
            this.targetElement.setAttribute('sim-value', targetValue)
            // needs to skip parseInt() because wave morphologies are strings
        }
    }

    start() {
        let duration
        // set duration
        if (this.targetElement.hasAttribute('sim-transitionable')) {
            duration = document.body.getAttribute('sim-transition-time') || 0
        } else {
            duration = 0
        }
        
        // duration is an integer number of seconds
        if (duration > 0) {
            this.incrementSize = (this.targetValue - this.initialValue) / ((duration * 1000) / this.incrementDuration)
        } else {
            this.incrementSize = this.targetValue - this.initialValue
        }

        // begin
        this.increment()
    }

    increment() {
        // only increment if running == true (gets set to false as an interrupt/end of transition signal)
        if (this.running == true) {
            // if the total change exceeds the planned change, terminate the transition. otherwise increment/decrement
            if (Math.abs(this.currentValue - this.initialValue) >= Math.abs(this.targetValue - this.initialValue)) {
                this.currentValue = this.targetValue
                this.running = false
            } else {
                this.currentValue += this.incrementSize
            }

            // commit changes to the DOM
            this.targetElement.setAttribute('sim-value', parseInt(this.currentValue))

            // set a timeout for next increment
            // knowing that it will be a no-op if this.running was set to false above
            this.timeout = setTimeout(() => {
                this.increment()
            }, this.incrementDuration) // period is set in this.incrementDuration above

            // AWFUL HACK: special case for etCO2
            if (this.targetElement.getAttribute('sim-parameter') == 'etco2') {
                let y_scale = (this.currentValue / 36)
                y_scale = Math.max(0.15, Math.min(1, y_scale))
                document.querySelector('#capno').setAttribute('y-scale', y_scale)
            }

            // AWFUL HACK: special case for RR
            if (this.targetElement.getAttribute('sim-parameter') == 'respiratory-rate') {
                document.querySelector('#capno').setAttribute('rate', this.currentValue)
            }

            // AWFUL HACK: special case for HR
            if (this.targetElement.getAttribute('sim-parameter') == 'heart-rate') {
                document.querySelector('#ecg').setAttribute('rate', this.currentValue)
            }

            // AWFUL HACK: a special case for spo2
            if (this.targetElement.getAttribute('sim-parameter') == 'spo2') {
                // console.log('hack! spo2 is being transitioned')
                // console.log(this.initialValue, this.targetValue, this.currentValue)
                beeperFrequency = 150 + 8 * parseInt(this.currentValue)
            }
        }
    }

    cancel() {
        this.timeout = null
    }
}

//     ____
//    / __ )___  ___  ____  _____
//   / __  / _ \/ _ \/ __ \/ ___/
//  / /_/ /  __/  __/ /_/ (__  )
// /_____/\___/\___/ .___/____/
//                /_/

const audioContext = new (window.AudioContext || window.webkitAudioContext)()

let beeperOn = false
let beeperFrequency = 942
let beeperDuration = 150

function playTone() {
    if (beeperOn == false) {
        return false
    }

    // Create the first OscillatorNode
    const onode = audioContext.createOscillator();
    onode.type = 'triangle';
    onode.frequency.value = beeperFrequency;

    // Set gain to fade out
    const gnode = new GainNode(audioContext)

    // Connect both OscillatorNodes to the AudioContext destination (output)
    onode.connect(gnode).connect(audioContext.destination)

    // Start both oscillators
    onode.start()

    // Stop both oscillators after the specified duration
    let stopTime = audioContext.currentTime + (beeperDuration / 1000)
    onode.stop(stopTime)
    gnode.gain.setValueAtTime(1, stopTime - (beeperDuration / 1000) * 0.01)
    gnode.gain.linearRampToValueAtTime(0, stopTime)

    return true
}

const soundButton = document.querySelector('#sound-button')
const soundButtonLabel = soundButton?.querySelector('div')
soundButton?.addEventListener('click', (e) => {
    if (beeperOn == true) {
        soundButtonLabel.innerText = "🔇"
        soundButton.setAttribute('title', 'Click to turn sound ON')
        beeperOn = false
    } else {
        soundButtonLabel.innerText = "🔊"
        soundButton.setAttribute('title', 'Click to turn sound OFF')
        beeperOn = true
    }
})

//  _       __
// | |     / /___ __   _____  _____
// | | /| / / __ `/ | / / _ \/ ___/
// | |/ |/ / /_/ /| |/ /  __(__  )
// |__/|__/\__,_/ |___/\___/____/

import { } from '/static/js/wavemaker2.js'

window.addEventListener('load', (e) => {
    document.querySelector('#ecg').beat(0, true)
    document.querySelector('#capno').beat(0, true)
})


// SPECIAL CASE FOR NIBP-ONLY
// disables art line readout when nibp-only mode is picked
// any other mode disables nibp and enables art line readout
let nibpReadouts = document.querySelectorAll('#nibp sim-readout')
let artbpReadouts = document.querySelectorAll('#bp-readout sim-readout')
document.querySelector('[sim-parameter="artline-trace"]').addEventListener('sim-value-changed', (e) => {
    if (e.target.getAttribute('sim-value') == 'nibp-only') {
        for (let n of nibpReadouts) {
            n.removeAttribute('sim-disabled')
        }
        for (let a of artbpReadouts) {
            a.setAttribute('sim-disabled', true)
        }
    } else {
        for (let n of nibpReadouts) {
            n.setAttribute('sim-disabled', true)
        }
    }
})

</script>


{% endblock %}