<html>
<body>
    <pre id="txt-out"></pre>
    <pre id="state">not yet connected</pre>
    <audio id="audio" autoplay playsinline></audio>

    <script src="/static/js/simplepeer.min.js"></script>
    <script type="module">
        import { WebRTC } from "/static/js/walkietalkie.js";

        window.wtc = new WebRTC("{{ data.txrx_mode }}", "{{ data.sim_room_id }}");
        window.wtc.ontrack = (track) => {
            console.log("traaaack!!!", e.track)
        }

        // window.wt = new WalkieTalkieConnection("{{ data.txrx_mode }}", "{{ data.sim_room_id }}");
        // window.wt.onConnectionStateChanged = (state) => {
        //     document.querySelector("#state").innerText = state;

            
        // }
        // window.wt.onData = (txt) => {
        //     document.querySelector("#txt-out").innerText += `\n${txt}`
        // }
        // window.wt.onAudio = (stream) => {
        //     console.log("onAudio")
        //     let player = document.querySelector("audio")
        //     player.srcObject = stream
        //     player.play()
        // }
        // window.wt.start()
    </script>
</body>
</html>